{{ define "base" }}
  <!doctype html>
  <html lang="en">
    <head>
      <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
      <meta charset="utf-8" />
      <link rel="stylesheet" href="/static/css/main.css" />
      <link
        rel="shortcut icon"
        href="/static/img/favicon.ico"
        type="image/x-icon"
      />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet"
      />
      <title>{{ template "title" . }} - Snippetbox</title>
    </head>
    <body class="bg-slate-200 min-h-screen flex flex-col">
      <header class="bg-white py-6 w-full flex items-center justify-center">
        <h1 class="text-4xl font-bold"><a href="/">Snippetbox</a></h1>
      </header>
      {{ template "nav" . }}
      <main class="max-w-6xl flex-1 mx-auto w-full">
        {{ template "main" . }}
      </main>
      <footer class="bg-slate-500">
        <div class="max-w-7xl mx-auto text-white py-10">
          Powered by <a href="https://golang.org/">Go</a> in
          {{ .CurrentYear }}
        </div>
      </footer>
    </body>
  </html>
{{ end }}
